<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 300px; margin: 0 auto; text-align: center; background: #f8f8f8; padding: 20px; font-family: monospace; border-radius: 6px;">
        <img style="width: 142px;" src="https://media.discordapp.net/attachments/1084346712241471589/1090131915308273736/uhezsghgvbl8uih8wgav-BEt4jUIdO-transformed.png?width=320&height=320" alt="">
        <h2>Reset Password</h2>
        <label style="margin-bottom: 10px; display: block;" for="Reset-password">Click the button to reset</label>
        <button style="padding: 10px; border-radius: 10px; border: none; background-color: #87CEFA; cursor: pointer;" name="Reset-password"type="submit"><a style="text-decoration: none;color: #333; cursor: pointer;" th:href="@{'http://localhost:7812/forgot/forgotPassword/' + ${accountResetToken}}">Reset Password</a></button>
    </div>
</body>
</html>