<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<table class="table" th:fragment="table" border="0" cellspacing="0" cellspadding="0">
			<tr class="table_title">
				<th colspan="4" th:text="${tables.name}"></th>
			</tr>
			<tr class="table_column">
				<th>Name</th>
				<th>Type</th>
				<th>Length</th>
				<th>Nullable</th>
			</tr>
			<tr th:each="i : ${tables.columns}" class="table_content_row">
				<td th:text="${i.name}" class="cell_name"></td>
				<td th:text="${i.type}"></td>
				<td th:text="${i.length}"></td>
				<td th:text="${i.nullable}" class="cell_nullable"></td>
			</tr>
		</table>
	</body>
</html>
